# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# IDE settings
.vscode/
.idea/
*.iml

# VSCode
*.code-workspace

# Others
*.log
